:root {
  --fs-4xl: 3rem;
  --fs-3xl: 2.5rem;
  --fs-2xl: 2rem;
  --fs-xl: 1.5rem;
  --fs-l: 1.25rem;
  --fs-m: 1rem;
  --fs-sm: 0.875rem;

  --fw-thin: 100;
  --fw-xlight: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-sbold: 600;
  --fw-bold: 700;
  --fw-xbold: 800;
  --fw-black: 900;

  --card-width: 450px;
  --card-height: 500px;
}
