<section class="sidebar app__sidebar">
  <nav class="app__nav">
    <ul class="app__tabs">
      <li class="app__tab" id="main_app">
        <a class="app__link" href="http://127.0.0.1:5000/soundmates/"
          ><i class="ri-empathize-line"></i>Soundmates</a
        >
      </li>
      <li class="app__tab" id="list_products">
        <a class="app__link" href=""><i class="ri-bard-line"></i>Discover</a>
      </li>
      <li class="app__tab" id="list_products">
        <a class="app__link" href=""><i class="ri-bard-line"></i>Most loved Generes</a>
      </li>
      <li class="app__tab" id="list_products">
        <a class="app__link" href=""><i class="ri-bard-line"></i>Top Artists</a>
      </li>
      <li class="app__tab" id="list_products">
        <a class="app__link" href="http://127.0.0.1:5000/tracks/"><i class="ri-bard-line"></i>Liked Tracks</a>
      </li>
      <li class="app__tab" id="list_products">
        <a class="app__link" href=""><i class="ri-bard-line"></i>Liked Albums</a>
      </li>
      <li class="app__tab" id="list_products">
        <a class="app__link" href=""><i class="ri-bard-line"></i>Liked Playlist</a>
      </li>
      <li class="app__tab" id="list_products">
        <a class="app__link" href=""><i class="ri-bard-line"></i>Liked Artists</a>
      </li>
	<li class="app__tab" id="list_products">
        <a class="app__link" href=""><i class="ri-bard-line"></i>Liked Podcast</a>
      </li>
      <li class="app__tab" id="list_products">
        <a class="app__link" href=""><i class="ri-bard-line"></i>Liked Shows</a>
      </li>



    </ul>
  </nav>
</section>
