{% extends "app-base.html" %}

<!-- Title -->
{% block title %}Home{% endblock %}

<!-- Home -->
{% block main %}
<div class="app__section">
  <h2>Soundmates</h2>
  <a href="#" class="app__show-more">Show more</a>
</div>
<hr class="user-hymn__divider" />
<div class="app__cards-wrapper" id="cards-wrapper">
	{% for user in users_list %}
	<a href="http://127.0.0.1:5000/user_profile/{{ user[0]  }}">
  <article class="user-card">
    <div class="user-card__user">
      <div class="user-card__pfp-wrapper">
        <img
          class="user-card__pfp"
          id="user-pfp"
	  src="{{ user[2] }}"
	  alt="{{ user[1] }}" />
      </div>
      <div class="user-card__profile">
        <div class="user-card__mini-pfp-wrapper">
		<img class="user-card__mini-pfp" src="{{ user[2] }}" alt="" />
        </div>
        <div class="user-card__username">
		<p>{{ user[1] }}</p>
		<p class="user-card__age userbio__age" style="background: {% if user[4] == 'men' %}#2986cc{% endif %};">
	  <i class="ri-{{ user[4] }}-line"></i> 24
          </p>
        </div>
        <div class="user-card__location">
		<i class="ri-map-pin-line"></i> {{ user[5] }}
        </div>
      </div>
    </div>
  </article>
 </a>
    {% endfor %}
</div>
{% endblock main %}
