{% extends "app-base.html" %}

<!-- Title -->
{% block title %}Home{% endblock %}

<!-- Home -->
{% block main %}
<div class="app__user-card-scroller">
	{% for user_id in matches %}
		{% set user_id = others.get(user_id) %}
 <a href="http://127.0.0.1:5000/user_profile/{{ user_id.get('id') }}">
  <article
    class="user-card"
    style="--i: 0"
    >
    <div class="user-card__user">
      <div class="user-card__pfp-wrapper">
        <img
        class="user-card__pfp"
        id="user-pfp"
        src="{{ user_id.get('profile_photo') }}"
        alt="{{ user_id.get('name') }}"
        />
      </div>
    <div class="user-card__profile">
      <div class="user-card__mini-pfp-wrapper">
        <img
        class="user-card__mini-pfp"
        src="{{ user_id.get('profile_photo') }}"
        alt="{{ user_id.get('name') }}"
        />
      </div>
      <div class="user-card__username">
        <p>{{ user_id.get('name') }}</p>
        <p class="user-card__age userbio__age" style="background: {% if user_id.get('gender') == 'men' %}#2986cc{% endif %};">
        <i class="ri-{{ user_id.get('gender') }}-line"></i> 24
        </p>
      </div>
      <div class="user-card__location">
        <i class="ri-map-pin-line"></i> {{ user_id.get('country') }}
      </div>
    </div>
    </div>
  </article>
  </a>
  {% endfor %}
</div>
{% endblock main %}
