{% extends "app-base.html" %}

<!-- Title -->
{% block title %}Home{% endblock %}

<!-- Home -->
{% block main %}
<section class="app__user userbio">
  <figure class="user-pfp">
	  <img class="user-pfp__img" id="user-pfp" src="{{ user.get('profile_photo') }}" alt="{{ user.get('user_name') }}" />
  </figure>

  <article class="userbio__info">
	  <h2 class="userbio__name">{{ user.get('user_name') }}</h2>
    <p class="userbio__country"><i class="ri-map-pin-line"></i> {{ user.get('country') }}</p>
    <p class="userbio__age" style="background: {% if user.get('gender') == 'men' %}#2986cc{% endif %};"><i class="ri-{{ user.get('gender') }}-line"></i> 24</p>
  </article>
</section>
{% if button %}
<div class="like">
  <button class="button button__outline app__like-btn">
    <i class="ri-heart-3-line ri-xl"></i> Follow
  </button>
  <button class="button button__outline app__like-btn">
    <i class="ri-send-plane-line ri-xl"></i> Message
  </button>
</div>
{% endif %}
<div class="app__user-tracks">
  <section class="app__user-top-tracks top-tracks">
    <h2 class="top-tracks__heading">Top tracks</h2>
    <hr class="top-tracks__divider" />
{% for row in tracks %}
  {% if filt %}
    <a href="http://127.0.0.1:5000/users_track/{{ row[0] }}">
  {% endif %}
    <div class="track-card">
      <div class="track-card__album-cover">
	      <img src="{{ row[2] }}" alt="" />
      </div>
      <div class="track-card__info">
        <div class="track-card__info-container">
          <i class="ri-headphone-line"></i>
	  <h3 class="track-card__name">{{ row[0] }}</h3>
        </div>
	<!-- This section will be implemented in the near future :)
        <div class="track-card__info-container">
          <i class="ri-user-line track-card__icon-artist"></i>
          <p class="track-card__artist">Nothing But Thieves</p>
        </div>
	-->
        <div class="track-card__info-container">
          <i class="ri-album-line track-card__icon-album"></i>
	  <a class="track-card__album" href="{{ row[1] }}" target="_blank">Listen on Spotify</a>
        </div>
      </div>
    </div>
   {% if filt %}
   </a>
   {% endif %}
    {% endfor %}
  </section>
  <section class="app__user-hymn user-hymn">
    <h2 class="user-hymn__heading">Play button breaker</h2>
    <hr class="user-hymn__divider" />
    <div class="track-card">
      <div class="track-card__album-cover">
	      <img src="{{ tracks[0][2] }}" alt="" />
      </div>
      <div class="track-card__info">
        <div class="track-card__info-container">
          <i class="ri-headphone-line"></i>
	  <h3 class="track-card__name">{{ tracks[0][0] }}</h3>
        </div>
	<!-- This section will be implemented in the near future :)
        <div class="track-card__info-container">
          <i class="ri-user-line track-card__icon-artist"></i>
          <p class="track-card__artist">Muse</p>
        </div>
	-->
        <div class="track-card__info-container">
          <i class="ri-album-line track-card__icon-album"></i>
	  <a class="track-card__album" href="{{ tracks[0][1] }}" target="_blank">Listen on Spotify</a>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock main %}
