.key-features {
  & > * + * {
    margin-top: 5rem;
  }
}

.card-key-feature {
  max-width: 40ch;
  margin-inline: auto;
  text-align: center;

  & > * {
    margin-top: 1em;
  }
  &__paragraph {
    color: var(--text-clr);
  }
}
