.fs-300 {
  font-weight: 300;
}

.fs-600 {
  font-weight: 600;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.mt-3 {
  margin-top: 3rem;
}

.mi-auto {
  margin-inline: auto;
}
