<!DOCTYPE html>
<html lang="en">
  <head>
    {% include '../includes/meta.html' %}

    <!-- Links -->
    {% include '../includes/links.html' %}

    <!-- Page Title -->
    <title>SoundHood</title>
  </head>
  <body>
    <div class="container">
      <header class="landing-header">
        <h1 class="logo" aria-label="logotype">
          <a href="./index.html">Soundhood</a>
        </h1>
        <a class="button button__default" href="#">Login</a>
      </header>

      <main class="signup-main mt-3">
        <p class="signup-main__desc">Tell us a little more about you</p>
        <form class="signup-form" action="">
          <div class="form-group">
            <label class="label" for="username">What should we call you?</label>
            <input class="input" type="text" id="username" required />
            <p class="label__info" id="usernameinfo">
              This appears on your profile
            </p>
          </div>
          <div class="form-group">
            <label class="label" for="email">What's your email address?</label>
            <input class="input" type="text" id="email" />
          </div>
          <div class="form-group">
            <label class="label" for="birthday"
              >What's your day of birth?</label
            >
            <input class="input input_date" type="date" id="birthday" />
          </div>
          <div class="form-group">
            <label class="label" for="gender">What's your gender?</label>
            <div class="form-radios">
              <div class="radio-group">
                <input class="" type="radio" id="male" name="gender" />
                <label for="male">Male</label>
              </div>
              <div class="radio-group">
                <input class="" type="radio" id="female" name="gender" />
                <label for="female">Female</label>
              </div>
              <div class="radio-group">
                <input class="" type="radio" id="female" name="gender" />
                <label for="female">Prefer not to say</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <input
              class="button button__outline"
              type="submit"
              name=""
              value="Continue"
              id="" />
          </div>
        </form>
      </main>
    </div>
  </body>
</html>
